name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

permissions:
  contents: write
  id-token: write

jobs:
  Release:
    runs-on: ubuntu-latest
    timeout-minutes: 7

    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/actions/setup
      - uses: changesets/action@v1.6.0
        id: changesets
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: bun release
